<div class="row">
  <div class="col-md-12 col-md-offset-3">

    <fieldset *ngIf="step == 1">
      <app-chose-race></app-chose-race>

      <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset *ngIf="step == 2">
      <span>2</span>

      <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
        value="Previous" />
      <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset *ngIf="step == 3">
      <span>3</span>
      <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
        value="Previous" />
    </fieldset>


  </div>
</div>
