<div class="container">
  <div class="row">

    <div class="col">
      <br>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-primary">Iniciar</button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">Iniciar</button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">Iniciar</button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">Iniciar</button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">Iniciar</button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">Iniciar</button>

      </div>
    </div>

    <div class="col-10">
      &nbsp;
      <div class="text-center">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="nomeChar" placeholder="Baldur">
                <label for="nomeChar">Nome do Personagem</label>
              </div>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Class" placeholder="Class" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Classe">
                    <label for="Class">Classe</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Level" placeholder="Level" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Level">
                    <label for="Level">Level</label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Antecedente" placeholder="Antecedente"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Antecedente">
                    <label for="Antecedente">Antecedente</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="NomeJogador" placeholder="Nome Jogador"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Nome do Jogador">
                    <label for="NomeJogador">Nome do Jogador</label>
                  </div>
                </div>
              </div>
              &nbsp;
              <div class="row">
                <div class="col-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Raca" placeholder="Raça" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Raça">
                    <label for="Raca">Raça</label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Alinhamento" placeholder="Alinhamento"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Alinhamento">
                    <label for="Alinhamento">Alinhamento</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="EXP" placeholder="EXP" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="EXP">
                    <label for="EXP">EXP</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
